node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.vscode
.idea
.DS_Store
*.log
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
*.vsix